
.wrap{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    margin-bottom: 70px;
    margin-top: 20px;

    &__photo{
        position: relative;
        width: 90%;
            button{
                position: absolute;
                top: 15px;
                right: 15px;
                background-position: center center;
                padding: 20px;
                -webkit-transition: background-image .5s, background-color .5s;
                -o-transition: background-image .5s, background-color .5s;
                transition: background-image .5s, background-color .5s;
                border-radius: 50%;

            }
            &-bttnOf{
                background-image: url('../../assets/navigation/compareOf.png');

                &:hover{
                    outline: 1px solid #ff6163;
                }
            }
            &-bttnOn{
                background-image: url('../../assets/navigation/compareOn.png');
                background-color:#ff6163;
            }
        
            &-img{
                width: 100%;
                border-radius: 10px;
            }
        }

    &__information{
        
        &__preview{
                margin-bottom: 20px;
            p{
                margin-bottom: 20px;
                font-size: 26px;
                opacity: 0.7;

                &::first-letter{
                    text-transform: uppercase;
                }
            }    
            &-price{
                font-size: 32px;
                font-weight: 400;
                opacity: 0.7;
            }
        }

        &__sizes{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 20px;
            margin-top: 20px;


            &-bttn{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 100;
                -webkit-transition: border 0.4s;
                -o-transition: border 0.4s;
                transition: border 0.4s;

                position: relative;

                &:hover{
                    background-color:rgb(225, 223, 223);
                }

                &.isSize{
                    background-color:rgb(211, 210, 210);

                    &:hover{
                        &::after{
                            content: 'We have this size for you';
                            position: absolute;
                            font-size: 10px;
                            top: -15px;
                            left: -20px;
                            width: 130px;
                        }
                    }
                }
            }
        }

        &__buy{
            display: grid;
            grid-template-columns: 50% 50px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 20px;


            &-bttn{
                height: 50px;

                border-radius: 5px;
                background-color: #ff6163;
                color: white;
                font-size: 18px;
                margin-right: 10px;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;

                &:hover{
                    background-color: #ff6164d9;
                }
            }

            &-favorites{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                button{
                    width: 50px;
                    height: 50px;
                    background-color:rgba(242, 240, 240, 0.578);
                    border-radius: 5px;
                    font-size: 35px;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                }
                &-On{
                    color:#ff6163;
                    
                    &:hover{
                        color: #ff6164d9;
                    }
                }
                &-Of:hover{
                    background-color:rgb(228, 228, 228);
                }
            }
        }
        &__characteristic{
            margin-top: 20px;
            opacity: 0.9;
            h4{
                font-size: 22px;
                font-weight: 100;
            }
            &__div{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    -webkit-box-pack: left;
                        -ms-flex-pack: left;
                            justify-content: left;
                    gap: 40px;
                    margin-top: 20px;


                &-country, &-material{
                    small{
                        opacity: 0.7;
                        font-size: 14px;
                    }
                    p{
                        font-size: 20px;
                        margin-top: 10px;
                        font-weight: 100;
                    }
                }
            }
        }

    }
}


@media screen and (max-width: 1024px) {
    .wrap{
        display: block;

        &__photo{
            width: 50%;
            margin: 0 auto;
    }

        &__information{
            text-align: center;

            &__preview{
                width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            &__buy{
                margin-left: 50px;
            }
            &__sizes, &__buy {
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
        }
    }
}

