*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
button{
    border: none;
    cursor: pointer;
}

.bttn__link{
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.app{
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .app{
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
    .app{
        width: 100%;
    }
}

