.wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    margin-top: 30px;
    margin-bottom: 70px; 
    
    &__photo{
        position: relative;
        
        &-compare{
            position: absolute;
            top: 15px;
            right: 15px;

            background-color: white;
            border-radius: 50%;
            cursor: pointer;

            button{
                background-position: center center;
                padding: 20px;
                border-radius: 50%;
                transition: all .3s;

            }
            &-bttnOf{
                background-image: url('../../assets/navigation/compareOf.png');
                background-color:rgba(255, 255, 255, 0);

                &:hover{
                    outline: 1px solid #ff6163;
                }
            }
            &-bttnOn{
                background-image: url('../../assets/navigation/compareOn.png');
                background-color:#ff6163;

            }
        
        }
        &-img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }

    &__information{

        &__preview{
                margin-top: 20px;
                margin-bottom: 20px;
            p{
                margin-bottom: 20px;
                font-size: 26px;
                opacity: 0.7;

                &::first-letter{
                    text-transform: uppercase;
                }
            }    
            &-price{
                font-size: 32px;
                font-weight: 400;
                opacity: 0.7;
            }
        }

        &__sizes{
            display: flex;
            margin-bottom: 20px;
            margin-top: 20px;


            &-bttn{
                width: 50px;
                height: 50px;
                background-color:rgba(242, 240, 240, 0.578);
                margin-right: 10px;
                border-radius: 5px;
                font-size: 18px;
                transition: all 0.3s;

                &:hover{
                    background-color:rgb(228, 228, 228);
                }
            }
        }

        &__buy{
            display: flex;
            align-items: center;
            margin-bottom: 20px;


            &-bttn{
                width: 50%;
                height: 60px;

                border-radius: 5px;
                background-color: #ff6163;
                color: white;
                font-size: 18px;
                margin-right: 10px;
                transition: all 0.4s;

                &:hover{
                    background-color: #ff6164d9;
                }
            }

            &-favorites{
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    width: 60px;
                    height: 60px;
                    background-color:rgba(242, 240, 240, 0.578);
                    border-radius: 5px;
                    font-size: 35px;
                    transition: all 0.4s;
                }
                &-On{
                    color:#ff6163;
                    
                    &:hover{
                        color: #ff6164d9;

                    }
                }
                &-Of:hover{
                    background-color:rgb(228, 228, 228);
                }
            }
        }
        &__characteristic{
            margin-top: 20px;
            opacity: 0.9;
            h4{
                font-size: 22px;
                font-weight: 100;
                letter-spacing: 1px;
            }
            &__div{
                    display: flex;
                    justify-content:left;
                    gap: 40px;
                    margin-top: 20px;


                &-country, &-material{
                    width: 250px;
                    small{
                        opacity: 0.7;
                        font-size: 14px;
                    }
                    p{
                        font-size: 20px;
                        margin-top: 10px;
                        font-weight: 100;
                    }
                }

                // &-country{
                //     margin-right: 100px;
                // }

            }
        }

    }
}


@media screen and (max-width: 1024px) {
    .wrap{
        grid-template-columns: 1fr;

        text-align: center;
        &__photo{
            width: 600px;
            margin: 0 auto;

    }
        &__information{
            padding: 10px;  
            text-align: center;
            
            &__sizes{
                justify-content: center;
            }
            &__buy{
                justify-content: center;
            }

            &__characteristic{
                display: grid;
                place-items: center;
            }
        }
    }
}

